body{

    height: 150px;
text-align: center;
background: rgb(163, 119, 207);


}
img{
       width: 120px; 
}
.KREDIT{

    height: 150px;
    width: 250px;
}
img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    

}
.b_center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

   
}
.b_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: outset 1px #00000064;
    margin: 10px;
    padding: 8px;
    background: #fffffffa; 
}
.b_logo:hover {

  background: #dbc8c8fa; 

}



 /* זה בשביל הקפתור העתקת מייל החדש */
.b_logoo {
  /* display: flex; */
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  border: outset 1px #d3c2c264;
  margin: 8px;
  padding: 8px;
  background: #ebe1e1fa; 
}




.blogo {
    display: block;

    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100px;
    border-radius: 10px;
    border: outset 1px #00000064;
    margin: 10px;
    padding: 8px;
    background: #eae6f3fa;


    
    
}

.blogo11 {
    display: block;


    background-color:rgb(160, 161, 224);
    padding: 1px;
    align-items: center;
    justify-content: center;
   
 
    border: outset 2.5px #6e6e6e64;
    margin: 5px;
    padding: 5.5px;
    border-radius: 70%;



}

.button1{

    background-color:white;
    padding: 1px;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border: outset 2.5px #6e6e6e64;
    margin: 10px;
    border-radius: 70%;

}
.button2{

    background-color:#f56767;
    padding: 1px;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border: outset 2.5px #6e6e6e64;
    margin: 10px;
    border-radius: 70%;

}
.button3{

    background-color:#75d280;
    padding: 1px;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border: outset 2.5px #6e6e6e64;
    margin: 10px;
    border-radius: 70%;
    

}

.button4{

    background-color:#00ffff;
    padding: 1px;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border: outset 2.5px #6e6e6e64;
    margin: 10px;
    border-radius: 70%;

}

.button5{

    background-color: rgb(163, 119, 207);
    padding: 1px;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border: outset 2.5px #6e6e6e64;
    margin: 10px;
    border-radius: 70%;
    

}
button {
 padding: 1px;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 35px;
    border: outset 4.5px #2326d8;
    margin: 5px;
    border-radius: 30%;
    color:rgb(2, 12, 66);
    background-color: rgb(163, 119, 207);
    
  }
  button:hover {
    transform: scale(1.3);
    transition: 0.2s;
    background-color: #8cd46b;


}
footer{
    align-items: center;
    justify-content: center;

}


/* תפריט */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;

  }
  
  nav a {
    color: rgb(0, 42, 104);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;


   

  }
  
  nav a:hover {
    text-decoration: underline;
    transition: background-color 0.3s ease;

    display: flex;

    flex-wrap: wrap;
    transform: scale(1.2);
    transition: 0.6s;
  }
  
  /* a href {
    display: flex;
    flex-wrap: wrap;
    transform: scale(1.2);
    transition: 0.6s;
  } */

  /* h2{

    display: flex;
    flex-wrap: wrap;
    transform: scale(1.2);
    transition: 0.6s;

  } */





.searchable-link{
  font-weight: bold;
  font-size: 23px;
  text-align: center;

}


#section1{
  font-weight: bold;
  font-size: 30px;
}
#section2{
  font-weight: bold;
  font-size: 30px;
}
#section3{
  font-weight: bold;
  font-size: 30px;
}
#section4{
  font-weight: bold;
  font-size: 30px;
}
#section5{
  font-weight: bold;
  font-size: 30px;
}
#section6{
  font-weight: bold;
  font-size: 30px;
}
#section7{
  font-weight: bold;
  font-size: 30px;
}
#section8{
  font-weight: bold;
  font-size: 30px;
}
#section9{
  font-weight: bold;
  font-size: 30px;
}
#section10{
  font-weight: bold;
  font-size: 30px;
}
#section11{
  font-weight: bold;
  font-size: 30px;
}
#section12{
  font-weight: bold;
  font-size: 30px;
}
#section13{
  font-weight: bold;
  font-size: 30px;
}
#section14{
  font-weight: bold;
  font-size: 30px;
}



  .search-container {
    text-align: center;
    margin-top: 20px;
    
    
}

.search-container input[type=text] {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}
.search-container input[type=submit] {
    padding: 10px 20px;
    background-color: #f10890;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
#search-results {
    margin-top: 20px;
    text-align: center;
}





/* 
.block {
  display: block;
} */

/* #emailList{
    display: block;

    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100px;
    border-radius: 10px;
    border: outset 1px #00000064;
    margin: 10px;
    padding: 8px;
    background: #eae6f3fa;

} */



.email-box {
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 70px;
    border-radius: 10px;
    border: outset 1px #00000064;
    margin: 10px;
    padding: 8px;
    background: #eae6f3fa;
    font-weight: bold;
    font-size: 80%;
 text-align: center;

  }
  .email-name {
    font-weight: bold;
    font-size: 20px;

  }
  

  .email-group {
    display: flex;
    align-items: center;
    /* font-size: 80%; */
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}





/* .email-box {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    text-align: center;
} */

.group-divider {
  width: 100%;
  text-align: center;
  margin: 20px 0;


  align-items: center;
  justify-content: center;
  width: 170px;
  height: 70px;
  border-radius: 10px;
  border: outset 1px #00000064;
  margin: 10px;
  padding: 8px;
  background: #eae6f3fa;
  font-weight: bold;
  font-size: 20px;
text-align: center;


}

.group-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* width: 170px;
  height: 70px; */
  border-radius: 10px;
  border: outset 1px #00000064;
  margin: 10px;
  padding: 8px;
  background: #69d648fa;
  font-weight: bold;
  font-size: 30px;



}


.additional-word {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 80%;
  
}







/* מכאן זה הכפתור ליצירת קשר */

.contact-form {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  padding: 10px;
  background-color: #e03d66;
  border-radius: 20px;
}

.form-title {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
  text-align: center;

}

label {
  display: block;
  margin-bottom: 1px;
  text-align: center;

}

.form-control {
  width: 90%;
  padding: 10px;
  border: 1px solid #524caf;
  border-radius: 14px;
  text-align: center;
  align-items: center;

}

.btn-submit {
  background-color: #26cd2b;
  color: rgb(2, 2, 4);
  /* padding: 10px 30px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  align-items: center;


}

.btn-submit:hover {
  background-color: #390fe1;
  transform: scale(1.3);
  transition: 0.2s;
 }


/* עד כאן זה הכפתור יצירת כשר */





/* זה קוד בשביל כפתורים זזים */
/* 
.moving-buttons-container {
  position: fixed;
  top: 90%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  position: top;

}

.right {
  right: 20px;
}

.left {
  left: 20px;
}

.moving-button {
  width: 100%;
  height: 100%;
  background-color: #ff0000;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  animation: move-heart 2s infinite alternate;
  
}

@keyframes move-heart {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-20px, -20px);
  }
}

.fa-heart {
  font-size: 20px;
  color: #fff;
  transform-origin: center;
} */


/* עד כאן  */



/* הודעה קופצת הכתובת הועתק... */

.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}

/* עד כאן */